/* Sign-up Form */

html {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {

    background-color: #2d3436;
    background-image: linear-gradient(to bottom right, rgb(249 250 250), rgb(129 136 144));
    display: flex;
    flex-direction: column;

}


.sign-up-div {
    display: flex;
    /* justify-content: center; */
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
}

.left {
    width: 20px;
    height: 900px;
    background-color:  rgb(4, 116, 97);
}



.content-div {
    display: flex;
    flex-direction: column;
    height: 900px;
    padding-left: 50px;
    padding-right: 100px;
    background-color: rgb(248, 248, 248);
    transition: 0.5s;
}


.logo-img {
    height: 70px;
    width: 70px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.content {
    padding-left: 50px;
    font-family: 'Space Mono', monospace;
	display: flex;
	flex-direction: column;
}

h1 {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 45px;
    margin: 0;
}

p {
    margin: 0;
}

label {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
}

input {
    border: 1px solid rgba(0, 0, 0, 0.11);
    border-radius: 5px;
    height: 30px;
    width: 250px;
    font-family: 'Space Mono', monospace;
}

input:focus {
    outline: none;
    border: 2px solid rgba(0, 89, 255, 0.822);
    box-shadow: 2px 2px 5px #aaaaaaa4;
}


input:invalid {
    outline: none;
    border: 2px solid rgb(185, 1, 1);
}

button {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 70px;
    width: 230px;
    border: none;
    background-color:  rgb(4, 116, 97);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-family: 'Space Mono', monospace;
    font-size: 22px;
}

button:disabled {
	background-color: rgba(4, 116, 97, 0.171);
	color: rgb(255, 255, 255);
}

.form-div {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin-top: 20px;
}

#first_name, #mail, #user_password {
    margin-right: 80px;
    transition: 0.3s;
}

#last_name, #phone_number, #user_password_confirm {
    transition: 0.3s;
}

.spacing {
    padding-top: 30px;
}

.first-last-name {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


/* for first and last name */

#first_name, #last_name {
	display: flex;
	flex-direction: column;
}

#firstNameVal, #lastNameVal {
	font-size: 13px;
	color: rgb(185, 1, 1);
	margin-left: 5px;
}



.email-phone {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* for phone */

.validity {
	font-size: 13px;
	margin-top: 5px;
	/* margin-left: 5px; */
}

#phoneVal {
	display: flex;
	flex-direction: column;
}

#phoneVal input:invalid+span:before {
	content: "✖";
	padding-right: 5px;
	color: rgb(185, 1, 1);
}

#phoneVal input:valid+span:before {
	content: "✔";
	padding-right: 5px;
	color: #009000;
}

/* for email */

.error {
	/* display: none; */
	margin-top: 5px;
	width: 85%;
	/* padding: 0; */
	/* font-size: 80%; */
	font-size: 13px;
	color: rgb(185, 1, 1);
}

#emailVal {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	/* height: 50px; */
}

/* password error msg */

#passVal {
	display: flex;
	flex-direction: column;
}

#userPasswordVal {
	font-size: 13px;
	color: rgb(185, 1, 1);
	margin-left: 5px;
}

.pass-confirm {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#usrPwd {
	display: flex;
	flex-direction: column;
}

#pwdMsg {
	margin: 0px;
	margin-bottom: 5px;
	font-size: 13px;
}

#message {
	display: none;
	background: rgb(248, 248, 248);
	color: #000;
	position: relative;
	padding: 5px;
	margin-top: 5px;
}

#message p {
	font-size: 13px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
	color: green;
}

.valid:before {
	position: relative;
	padding-right: 5px;
	content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
	color: rgb(185, 1, 1);
}

.invalid:before {
	position: relative;
	padding-right: 5px;
	content: "✖";
}

#divCheckPassword {
	font-size: 13px;
	margin-top: 5px;
}

footer {
    margin-top: -70px;
    font-size: 13px;
    padding-left: 50px;
    color: rgb(126, 126, 126);
    font-family: 'Space Mono', monospace;
    transition: 0.5s;
}


span {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: rgb(126, 126, 126);
}

a:hover {
    text-decoration: underline;
}

.have-account{
    font-weight: 700;
}

.login {
    color: rgb(4, 116, 97);
    font-weight: 900;
}

.right {
    display: flex;

}

img {
    height: 900px;
    width: 450px;

}


.github-link {
    color: rgb(0, 0, 0);
    font-weight: 700;
}

@media only screen and (max-width: 1300px) {
    .content-div {
  
        padding-left: 10px;
        padding-right: 10px;
    }
    footer {
        margin-top: -80px;
        width: 550px;
    }

    #first_name, #mail, #user_password {
        margin-right: 10px;

    }

}    

@media only screen and (max-width: 1100px) {
    .right {
        display: none;
    }
    
    .content-div {
        height: 1100px;
        padding-right: 50px;
    }
    .left {
        height: 1100px;
    }
    html {
        height: 1225px;
    }
	
	.logo-img {
		padding:  0px;
		margin-top: 15px;
	}

	.content {
		margin-top: 100px;
	}

}

@media only screen and (max-width: 685px) {
	.content {
		margin-top: 0;
	}
}

@media only screen and (max-width: 600px) {

    footer {
        width: 375px;
    }
}

@media only screen and (max-width: 430px) {


    footer {
        padding:0px;
    }
    .content-div {
        padding-right: 0px;
    }

    html {
        width: 100vw;
    }
    .content{
        padding-left: 40px;
    }
    button {
        margin-left: 10px;
    }

    .have-account {
        margin-left: -15px;
    }

    .copyright, .attribute {
        padding-left: 30px;
    }
}