/* Sign-up Form */

html {
    background-color: #2d3436;
    background-image: linear-gradient(to bottom right, rgb(249 250 250), rgb(129 136 144));
    display: flex;
    justify-content: center;
    padding-top: 15vh;
    padding-bottom: 15vh;
}

body {
    margin: 0;
}


.sign-up-div {
    display: flex;
    height: 70vh;
    width: 60vw;
    
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
  ;
}

.left {
    width: 20px;
    height: 70vh;
    background-color:  rgb(0 54 54);
    /* background-image: linear-gradient(to bottom, rgba(2, 43, 35, 0.753), rgb(7, 131, 94), rgba(2, 43, 35, 0.753)); */
}



.content-div {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 70vh;
    padding-left: 50px;
    padding-right: 100px;
    background-color: rgb(255, 255, 255);
}



.logo-img {
    height: 70px;
    width: 70px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.content {
    padding-left: 50px;
    font-family: 'Space Mono', monospace;
}

h1 {
    font-weight: 400;
    font-size: 45px;
    margin: 0;
}

p {
    margin: 0;
}

label {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
}

input {
    border: 1px solid rgba(0, 0, 0, 0.158);
    border-radius: 3px;
    height: 30px;
    width: 250px;
    font-family: 'Space Mono', monospace;
}

button {
    margin-top: 50px;
    margin-bottom: 30px;
    height: 70px;
    width: 220px;
    border: none;
    background-color:  rgb(0 54 54);
    color: rgb(231, 231, 231);
    border-radius: 10px;
    font-family: 'Space Mono', monospace;
    font-size: 20px;
}
.form-div {
    font-family: 'Raleway', sans-serif;
}

.first-last-name {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;

}
.email-phone {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;

}


.pass-confirm {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;

}

.shadow-break {
    box-shadow: 0px 10px 5px #aaaaaa;
    padding-bottom: 40px;
}

.right {
    display: flex;
    width: 19vw;
    height: 70vh;
}

img {
    height: 70vh;
    width: 450px;
    /* Pawel Czerwinski */
}